*/.pytest_cache/
__pycache__
.idea/
pytest_with_custom_plugin_core/pytest_core/build
pytest_with_custom_plugin_core/pytest_core/pytest_core.egg-info
pytest_with_custom_plugin_core/pytest_core/core.egg-info
.venv
.venv/*
